BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4

# Braces
BreakBeforeBraces: Linux
BraceWrapping:
  AfterFunction: false
  AfterStruct: true
  AfterEnum: true
  AfterUnion: true
  BeforeElse: true

# Line length
ColumnLimit: 100

# Pointer & reference style
PointerAlignment: Left
DerivePointerAlignment: false

# Spaces
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceAfterCStyleCast: true

# Alignments
AlignAfterOpenBracket: Align
AlignOperands: true
AlignTrailingComments: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

# Short statements
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

# Includes
SortIncludes: true
IncludeBlocks: Regroup

# Comments
ReflowComments: true

# Switch/case
IndentCaseLabels: true

# Misc
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
